.App{
  padding: 20px;
}
.cart-wrapper{
  display: flex;
    justify-content: flex-start;
}
.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* text-align: center; */
  background-color: #f7f7f7;
  padding: 10px;  
}
.img-wrapper img{
  width:200px
}
.text-wrapper {
  font-family: inherit;
  display: flex;
  margin: 10px auto;
  font-weight: 500;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px;
}
.btn-wrapper button{
  background-color: #a0a20c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.header{
  display: flex;
  justify-content: flex-end;
}
.cart-item-store{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cart-container{
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.cart-icon{
  background-color: #f1f1f1;
    height: 30px;
    width: 30px;
}
.cart-icon img{
  width: 100%;
}
.cart-count{
  position: absolute;
  right: -10px;
  top: -8px;
  background-color: #ff5454;
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 0.7em;
  color: #fff;
}
.btn-wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}